<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

  <!-- SMS permissions may soon be restricted for official play store apps
       so the restricted flavor of Cadpage does without them -->
  <uses-permission android:name="android.permission.READ_SMS"/>
  <uses-permission android:name="android.permission.RECEIVE_SMS"/>
  <uses-permission android:name="android.permission.RECEIVE_MMS"/>

  <application>
    <receiver android:name=".SmsReceiver"
      android:exported="true">
      <intent-filter android:priority="2147483647">
        <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
      </intent-filter>
    </receiver>

    <receiver android:name=".PushReceiver"
      android:exported="true">
      <intent-filter android:priority="2147483647">
        <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED"/>
        <data android:mimeType="application/vnd.wap.mms-message"/>
      </intent-filter>
    </receiver>
  </application>

</manifest>
